.lining

header.nheader
    .nheader__container

        .nheader__logo_small 
            img(src="./images/nheader_logo_small.svg", alt="logo" w="39" h="40" decoding="async" loading="lazy")

        .nheader__top

            .nheader__logo
                +picture('nheader_logo', 'png', 'x2')

            .nheader__location
                button.nheader__select.regionality-select-btn(aria-label="Выбрать город"): span Ковров

                .nheader__info 
                    a.nheader__phone(href="tel:+78005116884") +7 (800) 511-68-84
                    span.nheader__adress г.Ковров, ул. Ватутина, 90

            .nheader__search
                .nheader__search_wrapper
                    .nheader__search_inner
                        input(type="text" placeholder="Поиск")
                        button(aria-label="Начать поиск")

                    button.nheader__search_close(aria-label="Скрыть окно поиска")

            .nheader__nav
                button.nheader__search_toggle(aria-label="Показать окно поиска")
                button.nheader__auth(aria-label="Войти в личный кабинет"): span Войти
                button.nheader__appointment(aria-label="Записаться на приём к врачу"): span Записаться на приём
                button.nheader__burger(aria-label="Скрыть / показать мобильное меню")
                    span.header__icon: span


        nav.nheader__menu
            ul.nheader__list
                    li.nheader__item.nheader-has-dropdown
                        a(href="#") Услуги

                        .nheader__services
                            button.nheader__back(aria-lable="Вернуться в предыдущее меню") Услуги
                            ul.nheader__adult_list
                                li: p Для взрослых
                                li: a(href="#") Онкология
                                li: a(href="#") Кардиология
                                li: a(href="#") Офтальмология
                                li: a(href="#") Оториноларингология
                                li: a(href="#") Сосудистая хирургия
                                li: a(href="#") Гастроэнтерология
                                li: a(href="#") Медицина Сна
                                li: a(href="#") Хирургия
                                li: a(href="#") Пластическая хирургия
                                li: a(href="#") Все услуги
                                
                            ul.nheader__kids_list
                                li: p Для детей
                                li: a(href="#") Педиатрия
                                li: a(href="#") Вакцинация
                                li: a(href="#") Программы здоровья
                                li: a(href="#") Стоматология
                            
                    -
                        var doctors_list = [
                            'Онколог',
                            'Сердечно-сосудистый хирург',
                            'Оториноларинголог',
                            'Невролог',
                            'Гинеколог',
                            'Гастроэнтеролог',
                            'Травматолог'
                        ]

                    li.nheader__item: a(href="#") Врачи
                    //- li.nheader__item.nheader-has-dropdown

                    //-     a(href="#") Врачи

                    //-     .nheader__doctors
                    //-         button.nheader__back(aria-lable="Вернуться в предыдущее меню") Врачи
                    //-         ul.nheader__doctors_list
                    //-             each item in doctors_list
                    //-                 li: a(href="#")= item
                    //-             li: a(href="#") Все врачи

                    //-         .nheader__doctors_search
                    //-             p.nheader__doctors_title Поиск врача

                    //-             form.nheader__form(action="#")
                    //-                 input.nheader_input_name(type="text" name="doctor_name" placeholder="ФИО врача")
                    //-                 .nheader_input_specialty
                    //-                     input(type="button" value="Специальность")

                    //-                     fieldset.nheader__doctors_fieldset
                    //-                         each item in doctors_list
                    //-                             label.nheader__doctors_label
                    //-                                 input(type="radio" name="doctors_speciality")
                    //-                                 span= item


                    //-                 button.nheader__submit(type="submit") Найти врача


                    li.nheader__item: a(href="#") Комплексные программы
                    li.nheader__item: a(href="#") ВМП
                    li.nheader__item: a(href="#") Услуги по ДМС
                    li.nheader__item: a(href="#") О центре
                    li.nheader__item: a(href="#") Скорая медицинская помощь
                    li.nheader__item: a(href="#") Акции
                    li.nheader__item: a(href="#") Контакты

            .nheader__location_mobile
                button.nheader__select.regionality-select-btn(aria-label="Выбрать город"): span Ковров

                .nheader__info 
                    a.nheader__phone(href="tel:+78005116884") +7 (800) 511-68-84
                    span.nheader__adress г.Ковров, ул. Ватутина, 90

-
    var cities = [
        {city: 'Ковров', phone: '+7 (800) 511-68-84', phoneHref:'+78005116884', adress: 'ул. Ватутина, 90', isChecked: true},
        {city: 'Вязники', phone: '+7 (800) 555-55-55', phoneHref:'+78005555555', adress: 'ул. Либерецкая, 5А', isChecked: false}
    ]

.regionality

    .regionality__overlay.regionality-close-btn(aria-label='Закрыть окно выбора города')

    .regionality__wrapper

        button.regionality__close.regionality-close-btn(aria-label='Закрыть окно выбора города')

        p.regionality__title Выберите ваш город

        ul.regionality__list

            each item in cities

                li.regionality__item
                    label.regionality__label
                        if item.isChecked
                            input(type="radio" name="regionality" checked data-city= item.city data-phone= item.phone data-phoneHref= item.phoneHref data-adress= item.adress)
                            span.regionality__descr 
                                span= item.city 
                        else
                            input(type="radio" name="regionality" data-city= item.city data-phone= item.phone data-phoneHref= item.phoneHref data-adress= item.adress)
                            span.regionality__descr 
                                span= item.city 








