// colors
$color_white: var(--clinicalcenter-white, #fff);
$color_black: var(--clinicalcenter-black, #000);
$color_clinic_bg: var(--clinicalcenter-bg, #f1faff);
$color_clinic_main1: var(--clinicalcenter-main1, #00c3bb);
$color_clinic_grey_border: var(--clinicalcenter-gray-border, #f5f5f5);
$color_clinic_middleturquoise: var(--clinicalcenter-middleturquoise, #00b0a9);
$color_clinic_darkturquoise: var(--clinicalcenter-darkturquoise, #008d88);
$color_text: var(--text, #777);
$color_divider: var(--divivder, #dae2df);
$color_border: var(--border, #f0f0f0);

// fonts
$font: "Gilroy", "Roboto", sans-serif;
